

.detailsImg{
    width: 30vw;
    border-radius: 5%;
}
.meeseeks{
    width: 12vw;
}
.meeseeks2{
    width: 20vw;
}

.detailsContainer{
    border-radius: 10%;
    background-color: rgb(229, 226, 235);
    background-image: url(../assets/fondo\ card.jpg);  
    transform: translateY(-5px);
    background-repeat: no-repeat;
    box-shadow: 0 0 15px rgb(30, 241, 83);
   background-position: 100% 100%;

}

@media (max-width: 768px){
    .detailsImg{
        width: 50vw;
        .meeseeks{
            width: 10vw;

        }
    }
    .meeseeks{
        width: 35vw;

    }
    .meeseeks2{
        width: 60vw;

    }
}
.neonDescription{
    color:rgb(196, 231, 139)
   
}
.neonDescription1{
    color: rgb(226, 64, 159);
    
}
