body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el body cubra al menos el 100% de la altura de la ventana */
  background: linear-gradient(45deg, #0f0c29, #302b63, #24243e);
  background-size: cover;
  animation: gradientBG 15s ease infinite;
  color: #fff;
  font-family: 'Arial', sans-serif;
}
header{
  min-height: 10vh;
}


main {
    min-height:71vh;
    padding-bottom: 60px; }



footer {
  min-height:5vh;
  background-color: rgba(15, 12, 41, 0.8);
  backdrop-filter: blur(10px);
  color: #0ff;
  text-shadow: 0 0 5px #0ff;  position: relative;
  bottom: 0;
  width: 100%;
}

.character-image{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}